<div class="book-form-container">
  <h2>{{ isEditMode ? "Edit Book" : "Add Book" }}</h2>
  <form [formGroup]="bookForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="title">Title:</label>
      <input id="title" type="text" formControlName="title" />
    </div>
    <div class="form-group">
      <label for="author">Author:</label>
      <input id="author" type="text" formControlName="author" />
    </div>
    <div class="form-group">
      <label for="publishDate">Publication Date:</label>
      <input id="publishDate" type="date" formControlName="PublishDate" />
    </div>
    <div class="button-container">
      <button type="submit">{{ isEditMode ? "Update" : "Add" }}</button>
    </div>
  </form>
</div>
