<div class="container">
<div class="login-box">
  <form (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm">
    <h2>Login</h2>
    <!-- Add a title for clarity -->
    <input
      type="text"
      [(ngModel)]="loginFormData.username"
      name="username"
      placeholder="Username"
    />
    <input
      type="password"
      [(ngModel)]="loginFormData.password"
      name="password"
      placeholder="Password"
    />
    <div class="button-container">
      <button type="submit">Login</button>
      <button type="button" (click)="onRegister()">Create User</button>
    </div>
  </form>
</div>
</div>
