.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.quote-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.quote-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 20px; /* Increased margin for more space */
  background-color: #9c9c9c;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.quote-text {
  flex: 1;
  font-size: 16px;
  line-height: 1.4;
  margin-right: 20px; /* Increased margin between text and author */
}

.quote-author {
  margin-right: 10px;
  font-style: italic;
}

.quote-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.form-group {
  margin-bottom: 10px;
}

.form-group label {
  font-weight: bold;
  font-size: 16px;
}

input[type="text"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  font-size: 14px;
}

.btn {
  width: 150px;
}
.btn-sm {
  padding: 5px 10px; /* Adjust the padding to control the size (5px top/bottom, 10px left/right) */
  font-size: inherit; /* Use the default font size (unchanged) */
}
